.title{
    font-size: 28px;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
    color: #FFFFFF;
}

.title h1{
    padding-top: 15%;
    margin: 0px;
}
.title h3{
    margin-bottom: 1%;
    color: rgb(255,255,255,0.3);
    font-size: 18px;
}

/* Posts */

.posts{
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
}
.posts img{
    float: right;
    display: flow-root;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-right: 3%;
    padding-left: 3%;
}

.posts p{
    color: #000000;
    padding-left: 5%;
    display: block;
    text-align: center;
    margin: auto;
    line-height: 1.4;
    overflow-wrap: anywhere;
    word-break: normal;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12;    
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
.posts h1{
    padding-top: 10%;
    text-align: center;
    font-size: 42px;
    margin: 0%;
}
.posts h2{
    color: #000000;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    /* padding-top: 10%;
    padding-left: 5%; */
}
.posts h4{
    text-align: center;
    margin: 0%;
    padding-top: 5px;
    color: #7e7d7d;
    padding-bottom: 2%; 
}

.btn{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.see_btn{
    background-color: #8a6fe8;
    color: #FFFFFF;
    border: #8a6fe8 1px solid;
    border-radius: 10px 10px;
    height: 2rem;
    width: 7rem;
    margin-left: 6%;
    cursor: pointer;
    font-size: 14px;
    
}

.see_btn:hover{
    background-color: #735ac4;
    font-size: 0.9em;
    transition: 0.25s ease-in;
}