body{
  margin: 0px;
  background-image: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  font-family: 'SN Pro', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}


/* Colour codes
Primary Accent #8a6fe8
Primary Accent (hover) #735ac4
Background Gradient  linear-gradient(135deg,#0f0c29, #302b63, #24243e)
Glass Background rgba(255,255,255,0.05)
Glass border rgba(255,255,255,0.1)
Success/Spotify #4caf50/#1db954
Danger/Error #ff4b4b
Main Text #ffffff
Muted text #d1d1d1 */